body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("../img/fundo-mercado.jpg") no-repeat center/cover;
}

.container {
    background: rgba(255,255,255,0.92);
    width: 450px;
    margin: 70px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 180px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: #c40000;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

button:hover {
    background: #059505;
}

.erro {
    color: red;
    margin-bottom: 10px;
}

